@page
@model Restauracja.Pages.Foods.CreateModel

@{
    ViewData["Title"] = "Dodawanie pozycji";
}

<h1>Dodaj pozycję do menu</h1>
<br/>
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label-1"></label>
                <input asp-for="Food.Name" class="form-control" placeholder="Nazwa pozycji"/>
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Description" ></label>
                <input asp-for="Food.Description" class="form-control" placeholder="Krótki opis pozycji (jeśli tego ona wymaga)" />
                <span asp-validation-for="Food.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Category"></label>
                <input asp-for="Food.Category" class="form-control" placeholder="Przystawki, Śniadania, Dania Główne lub Desery" />
                <span asp-validation-for="Food.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Price" class="control-label-1"></label>
                <input type="number" step="0.01" min="1" asp-for="Food.Price" class="form-control" placeholder="Cena w zł"/>
                <span asp-validation-for="Food.Price" class="text-danger"></span>
            </div>
            <br />Rodzaj:<br />
            <div class="form-group">
                <input asp-for="Food.IsVegan" />
                <label asp-for="Food.IsVegan" ></label> &nbsp&nbsp
                <input asp-for="Food.IsVegetarian" />
                <label asp-for="Food.IsVegetarian" ></label>
            </div>
            <div class="form-group">
                <input asp-for="Food.IsLactoseFree" />
                <label asp-for="Food.IsLactoseFree" ></label> &nbsp&nbsp
                <input asp-for="Food.IsGlutenFree" />
                <label asp-for="Food.IsGlutenFree" ></label>
            </div>
            <br/>
            <div class="form-group">
                <button type="submit" value="Dodaj" >Dodaj</button>
            </div>
        </form>
    </div>
</div>
<br/>
<br/>
<br />
<div class="return">
    <button><a asp-page="Index">Powrót do Menu</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
